<h3 align="left">Note Page</h3>
<p align="right">
    <button class="btn btn-xs btn-primary" ui-sref="edit({id:123455})"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  </button></button>
    <button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  </button></button>
</p>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label hidden-xs">Title:</label>
        <div class="col-sm-10">
            <p class="form-control-static">My Title</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label hidden-xs">Note:</label>
        <div class="col-sm-10">
            <p class="form-control-static">My Note</p>
        </div>
    </div>

</form>